@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Open+Sans:wght@800&display=swap');

body{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-align: center;
}

#wrapper{
  width: 90%;
}

/*Quote-Author-Links*/
a, .quote, .author{
  color: white;
}

.quote{
  font-family: "Open Sans";
  font-size: 2rem;
  line-height: 2rem;
  margin-top: .5rem;
}
.author{
  font-family: "Libre Baskerville";
  letter-spacing: .1rem;
  margin-top: 3rem;
  margin-bottom: .5rem;
  font-size: 1rem;
}

a{
  text-decoration: none;
}
a:hover{
  color: darkred;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
  display: inline;
  font-size: 1.5rem;
}


/*Mobile Display*/

@media (min-width: 319px){
  
body{
  background: url(assets/mobile.png);
  background-size: 100% 100%;
}

/*Desktop Display*/
  @media (min-width: 666px){
    body{
      background: url(assets/background.png);
      background-size: 100% 100%;
    } 
  }